* { margin: 0; padding: 0;}
body {
    
    margin:0;
    padding:0;
}
html, #chatInput{
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}
#sidebar{
    position:absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 200px;
    background-color: #2C3E50;
}
#chatbox{
    background-color:#ECF0F1;
    
}
.evenli{
    color: #2C3E50;
    list-style: none;
    font-size: 12px;
    margin:0;
    padding:0;
}

.oddli{
    color: #2C3E50;
    list-style: none;
    font-size: 12px;
    margin:0;
    padding:0;
    background-color: #F0F4F5;
}
.userli{
    color: #ECF0F1;
    list-style: none;
    font-size: 12px;
    margin:0;
    padding:0;
    background-color: #2C3E50;
}

.systemli{
    color: #ECF0F1;
    list-style: none;
    font-size: 12px;
    margin:0;
    padding:0;
    background-color: #E74C3C;
}
#chatList {
    height: 80vh;
    overflow-y:scroll;
    word-wrap: break-word;
}
#cvs {
    position:absolute;
    left:0px;
    top:0px;
    z-index: -1;
}
#chatInput{
    width: 95%;
    margin-left: 1%;
}
#drawname{
    background-color: #2C3E50;
    color: #ECF0F1;
    text-align:center;
}
#timeLeft{
    font-size: 60px;
    background-color: #E74C3C;
    color: #ECF0F1;
    text-align:center;
}
